<html lang="en" ng-app="resortModule">
  <head>
    <link rel="stylesheet" href="/assets/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- CSS animations -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animations/view-slide-in.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/animations/animate-switch.css">

    <meta name="viewport" content="initial-scale=1" />

    <!-- <base href="/"> -->
  </head>
  <body layout="column" ng-controller="mainController">

    <md-toolbar layout="row" class="md-whiteframe-z2 md-primary md-hue-2">
      <div class="md-toolbar-tools">
        <md-button ng-show="showSideNav" ng-click="toggleSidenav('left')" hide-gt-lg class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1><a ui-sref="home">Resort Manager</a></h1>
      </div>
    </md-toolbar>

    <div layout="row" flex>
        <md-sidenav ng-show="showSideNav" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
          
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex ui-view class="view-slide-in">
            
            </md-content>
        </div>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="/assets/bower_components/angular/angular.min.js"></script>
    <script src="/assets/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/assets/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/assets/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/assets/bower_components/angular-messages/angular-messages.min.js"></script>

    <!-- Angular module -->
    <script src="/app/resortModule.js"></script>

    <!-- Angular themes -->
    <script src="/app/themes.js"></script>

    <!-- Angular route -->
    <script src="/app/routes.js"></script>

    <!-- Angular controllers -->
    <script src="/app/mainController.js"></script>
    <script src="/app/components/home/homeController.js"></script>
    <script src="/app/components/home/new-site/newSiteController.js"></script>

  </body>
</html>
